html, body {
    
    height: 100%;
    overflow: hidden;
}

orangeText {
    
    color: orange;
}

p {
    
    font-size: 1.5em;
}

.full-height {
    
    min-height: 100%;
}

.light {
    
    background-color: azure;
}

.dark {
    
    background-color: #1a1a1f;
}

.darker {
    
    background-color: #131317;
}

.darker-2 {
    
    background-color: #0b0b0f;
}

.darkest {
    
    background-color: #050505;
}

.blue {
    
    background-color: blue;
}

.darkGrey {
    
    background-color: darkslategrey;
}

.centered {
    
    text-align: center;
}

.justified {
    
    text-align: justify;
}

.v-aligned {
    
    padding-top: 2.5%;
}

.right-aligned {
    
    text-align: right;
}

.light-text {
    
    color: white;
    font-family: 'Forum', cursive;
}

.orange-text {
    
    color: orange;
    font-family: 'Forum', cursive;
}

.title {
    
    margin-left: 20%;
    font-family: 'Forum', cursive;
    opacity: 0;
}

.subtitle {
    
    margin-left: 20%;
    color: #aaa;
    font-family: 'Forum', cursive;
    opacity: 0;
    font-size: 0.8em;
}

.large {
    
    font-size: 6vh;
}

.large-1 {
    
    font-size: 7vh;
}

.large-2 {
    
    font-size: 8vh;
}

.bottom {
    
    vertical-align: bottom;
}

.padded {
    
    padding-top: 10%;
}

.left-panel {
    
    position: sticky;
    z-index: 1;
    width: 5%;
    height: 100%;
    float: left;
    margin-right: 5%;
    padding: 12% 0 0 0;
}

.head-panel {
    
    width: 85%;
    height: 5%;
    float: left;
}

.about-panel {
    
    padding: 0;
    width: 85%;
    height: 100%;
    float: left;
    display: inline-block;
}

.info-panel {
    
    padding: 0;
    width: 85%;
    height: 50%;
    float: left;
    text-align: center;
}

.proj-info-panel {
    
    padding: 0;
    width: 85%;
    height: 100%;
    float: left;
}

.main {
    
    padding-top: 2.5%;
    padding-bottom: 5%;
}

.quick-info-left-panel {
    
    float: left;
    width: 40%;
    height: 100%;
}

.info {
    
    width: 75%;
    height: 100%;
    float: left;
    margin-right: 2.5%;
}

.welcome-info {
    
    width: 60%;
    height: 20%;
    margin-top: 5%;
    margin-left: 30%;
    margin-right: 30%;
}

.left-column {
    
    display: inline-block;
    width: 25%;
    height: 100%;
    position: relative;
    float: left;
    padding: 0;
    margin: 0;
}

.mid-column {
    
    width: 25%;
    margin-left: 5%;
    margin-right: 5%;
    min-height: 100%;
    position: relative;
    float: left;
}

.right-column {
    
    display: inline-block;
    width: 40%;
    height: 100%;
    position: relative;
    float: left;
    padding: 0;
    margin: 0;
}

.skills-panel {

    padding: 5%;
    width: 100%;
    min-height: 100%;
    float: left;
}

.tools-panel {

    padding: 3%;
    width: 100%;
    min-height: 45%;
    float: left;
    margin-bottom: 5%;
}

.method-panel {

    padding: 3%;
    padding-bottom: 4.75%;
    width: 100%;
    min-height: 55%;
    float: left;
}

.exp-panel {
    
    display: block;
    padding: 5%;
    width: 100%;
    height: 50%;
    float: left;
    margin-bottom: 10.25%;
}

.education-panel {
    
    display: block;
    padding: 5%;
    width: 100%;
    height: 50%;
    float: left;
    margin: 0;
}

.project-info-panel {

    padding: 0;
    width: 40%;
    height: 100%;
    float: right;
}

.projects {

    padding: 0;
    width: 60%;
    height: 100%;
    float: left;
    background-color: white;
}

.background-canvas {
    
    width: 100%;
    height: 100%;
    display: block;
    position: fixed;
    z-index: 0;
}

.home-canvas {
    
    position: fixed;
    z-index: 0;
    display: block;
    width: 60%;
    height: 100%;
    margin-top: 5%;
    margin-left: 30%;
}

.contact-info {
    
    position: absolute;
    width: 50%;
    height: 100%;
    margin-left: 15%;
    margin-top: 10%;
}

.holder {
    
    position: absolute;
}

.picture {
    
    width: 40%;
    padding-bottom: 25%;
    float: left;
}

.summary {
    
    width: 50%;
    height: 100%;
    float: right;
    margin-left: 10%;
}

.panel-button {
    
    width: 100%;
    height: 12.5%;
    float: left;
    border: 0;
    outline: none;
}

.panel-button:focus {
    
    outline: none;
}

.proj-btn {
    
    margin: 0 0 3% 0;
    width: 50%;
    height: 5%;
    float: left;
    border: 1px solid black;
    outline: none;
}

.about-table {
    
    width: 100%;
    padding: 0;
    margin: 0;
}

.selected {
    
    color: orange;
}

.unselected {
    
    color: white;
}

#home-page {

    display: block;
}

#about-page {
    
    display: none;
}

#skills-page {
    
    display: none;
}

#projects-page {
    
    display: none;
}

#contacts-page {
    
    display: none;
}

#info-result {
    
    display: block;
    padding: 0 2% 2% 2%;
}

#tech-result {
    
    display: none;
    padding: 0 2% 2% 2%;
}

#continueBTN {
    
    cursor: pointer;
}