html, body {
    
    height: 100%;
    overflow: hidden;
}

orangeText {
    
    color: orange;
}

p {
    
    font-size: 1.5em;
}

.full-height {
    
    min-height: 100%;
}

.light {
    
    background-color: azure;
}

.dark {
    
    background-color: #1a1a1f;
}

.mobile-menu {

    display: none;
}

.darker {
    
    background-color: #131317;
}

.darker-2 {
    
    background-color: #0b0b0f;
}

.darkest {
    
    background-color: #050505;
}

.blue {
    
    background-color: blue;
}

.adjust-center {
    
    margin-left: 5%;
}

.darkGrey {
    
    background-color: darkslategrey;
}

.centered {
    
    text-align: center;
}

.justified {
    
    text-align: justify;
}

.v-aligned {
    
    padding-top: 2.5%;
}

.right-aligned {
    
    text-align: right;
}

.light-text {
    
    color: white;
    font-family: 'Forum', cursive;
}

.orange-text {
    
    color: orange;
    font-family: 'Forum', cursive;
}

.title {
    
    margin-left: 20%;
    font-family: 'Forum', cursive;
    opacity: 0;
}

.project-name {
    
    font-size: 1.2em;
    position: absolute;
    bottom: 0;
    width: 100%;
    background: none;
    text-align: center;
}

.subtitle {
    
    margin-left: 20%;
    color: #aaa;
    font-family: 'Forum', cursive;
    opacity: 0;
    font-size: 0.8em;
}

.large {
    
    font-size: 6vh;
}

.large-1 {
    
    font-size: 7vh;
}

.large-2 {
    
    font-size: 8vh;
}

.bottom {
    
    vertical-align: bottom;
}

.padded {
    
    padding-top: 10%;
}

.left-panel {
    
    position: sticky;
    z-index: 1;
    min-width: 100px;
    width: 5%;
    height: 100%;
    float: left;
    margin-right: 5%;
    padding: 12% 0 0 0;
}

.head-panel {
    
    width: 85%;
    height: 5%;
    float: left;
}

.about-panel {
    
    padding: 0;
    padding-top: 4%;
    width: 85%;
    height: 800px;
    float: left;
    display: inline-block;
    vertical-align: middle;
    overflow-y: scroll;
}

.info-panel {
    
    padding: 0;
    width: 85%;
    height: 50%;
    float: left;
    text-align: center;
}

.proj-info-panel {
    
    padding: 0;
    width: 100%;
    float: left;
}

.main {
    
    padding-top: 2.5%;
    padding-bottom: 5%;
}

.quick-info-left-panel {
    
    float: left;
    width: 40%;
    height: 100%;
}

.projects-box {
    
    width: 100%;
    height: 100%;
    position: relative;
}

.thumbnail-div {
    
    position: relative;
    float: left;
    margin-right: 1%;
    margin-bottom: 1%;
    width: 19%;
    padding-bottom: 19%;
}

.roles {
    
    list-style: none;
}

.roles li::before {
    
    content: "\2022";
    color: orange;
    font-weight: bold;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
}

.role-item {
    
    font-size: 1.4em;
}

.info {
    
    width: 100%;
    height: 100%;
    float: left;
    margin-right: 2.5%;
}

.project-info {
    
    background-color: #050505;
    width: 50%;
    height: 100%;
    float: left;
    overflow-y: scroll;
}

.project-slider {
    
    position: relative;
    width: 50%;
    height: 256px;
    float: left;
    padding: 0 1% 0 1%;
}

.carousel-inner {
    
    height: 512px;
    object-fit: cover;
}

.link-box {
    
    position: relative;
    background-color: black;
    width: 100%;
    height: 60%;
    float: left;
    padding: 2%;
}

.navigation {
    
    position: absolute;
    bottom: 0;
    background: orange;
    padding: 2%;
}

.slide {
    
    margin-bottom: 2%;
}

.normal-size {
    
    font-size: 1.2em;
}

.section-head {
    
    font-size: 3em;
    margin-bottom: 2%;
}

.welcome-info {
    
    width: 60%;
    height: 20%;
    margin-top: 5%;
    margin-left: 30%;
    margin-right: 30%;
}

.left-column {
    
    width: 33%;
    height: 100%;
    position: relative;
    float: left;
    padding: 0 5% 0 0;
    margin: 0;
}

.mid-column {
    
    width: 33%;
    height: 103%;
    position: relative;
    padding: 0 5% 0 0;
    float: left;
    margin: 0;
}

.right-column {
    
    width: 33%;
    height: 100%;
    position: relative;
    float: left;
    padding: 0 5% 0 0;
    margin: 0;
}

.skills-panel {

    padding: 5%;
    margin: 0;
    width: 100%;
    height: 100%;
    float: left;
}

.tools-panel {

    padding: 5%;
    width: 100%;
    height: 55%;
    float: left;
    margin-bottom: 5%;
}

.method-panel {

    padding: 5%;
    width: 100%;
    height: 45%;
    float: left;
}

.method-panel:hover {
    
    
}

.exp-panel {
    
    display: block;
    padding: 5%;
    width: 100%;
    height: 40%;
    float: left;
    margin-bottom: 5%;
}

.exp-panel:hover {
    
    
}

.education-panel {
    
    display: block;
    padding: 5%;
    width: 100%;
    height: 60%;
    float: left;
    margin: 0;
}

.education-panel:hover {
    
    
}

.project-info-panel {

    position: relative;
    padding: 0;
    width: 40%;
    height: 100%;
    float: right;
}

.projects {

    position: relative;
    padding: 0;
    width: 60%;
    height: 100%;
    float: left;
    background-color: black;
}

.background-canvas {
    
    width: 100%;
    height: 100%;
    display: block;
    position: fixed;
    z-index: 0;
}

.home-canvas {
    
    position: fixed;
    z-index: 0;
    display: block;
    width: 60%;
    height: 100%;
    margin-top: 5%;
    margin-left: 30%;
}

.contact-info {
    
    position: absolute;
    width: 50%;
    height: 100%;
    margin-left: 15%;
    margin-top: 10%;
}

.holder {
    
    position: absolute;
}

.picture {
    
    width: 40%;
    padding-bottom: 25%;
    float: left;
}

.summary {
    
    width: 100%;
    height: 100%;
    float: right;
    margin-left: 10%;
}

.panel-button {
    
    width: 100%;
    height: 12.5%;
    float: left;
    border: 0;
    outline: none;
}

.panel-button:focus {
    
    outline: none;
}

.info-panel-button {
    
    position: relative;
    width: 100%;
    height: 10%;
    float: left;
    border: 0;
    outline: none;
}

.info-panel-button:focus {
    
    outline: none;
}

.proj-btn {
    
    margin: 0 0 3% 0;
    width: 50%;
    height: 5%;
    float: left;
    border: 1px solid black;
    outline: none;
}

.about-table {
    
    width: 100%;
    padding: 0;
    margin: 0;
}

.selected {
    
    color: orange;
}

.unselected {
    
    color: white;
}

    
.no-scroll {

    overflow: hidden;
}

#home-page {

    display: block;
}

#about-page {
    
    display: none;
}

#skills-page {
    
    display: none;
}

#projects-page {
    
    display: none;
}

#contacts-page {
    
    display: none;
}

/*thumbnails*/
#IM-Client {
    
    background-image: url(/Images/IM-client-thumb.png);
    background-position: center;
    background-size: cover;
}

#IM-Server {
    
    background-image: url(/Images/IM-server-thumb.png);
    background-position: center;
    background-size: cover;
}

#IG-Scraper {
    
    background-image: url(/Images/IG-Scraper.png);
    background-position: center;
    background-size: cover;
}

#DroneZone {
    
    background-image: url(/Images/DZ-poster.png);
    background-position: center;
    background-size: cover;
}

#Jaguar {
    
    background-image: url(/Images/jaguar.png);
    background-position: center;
    background-size: cover;
}

#Tetris-Mobile {
    
    background-image: url(/Images/tetris-thumb.png);
    background-position: center;
    background-size: cover;
}

#AA {
    
    background-image: url(/Images/AA_thumb.png);
    background-position: center;
    background-size: cover;
}

#Checkers-Online {
    
    background-image: url(/Images/checkers-online-thumb.png);
    background-position: center;
    background-size: cover;
}

#RT-Site {
    
    background-image: url(/Images/rare-trade-web-design-logo.png);
    background-position: center;
    background-size: cover;
}

#Astromasters-Site {
    
    background-image: url(/Images/astromasters-web-design.png);
    background-position: center;
    background-size: cover;
}

.thumbnail-div:hover {
    
    transform: scale(1.05);
}

/*Individual projects page*/
#IM-Client-Page {
    
    display: none;
}

#IM-Server-Page {
    
    display: none;
}

#IG-Scraper-Page {
    
    display: none;
}

#DroneZone-Page {
    
    display: none;
}

#Jaguar-Page {
    
    display: none;
}

#Tetris-Mobile-Page {
    
    display: none;
}

#AA-Page {
    
    display: none;
}

#Checkers-Online-Page {
    
    display: none;
}

#RT-Site-Page {
    
    display: none;
}

#Astromasters-Site-Page {
    
    display: none;
}

#info-result {
    
    display: block;
    position: relative;
    clear: both;
    padding: 0 4% 0 4%;
    min-height: 85%;
}

#tech-result {
    
    display: none;
    padding: 0 2% 2% 2%;
}

#continueBTN {
    
    cursor: pointer;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    
    .left-panel {
        
        display: none;
    }
    
    p {
        
        font-size: 1.2em;
        padding: 0 5% 0 5%;
    }
    
    .selected, .unselected {
        
        font-size: 1em;
    }
    
    .main {
        
        width: 100%;
        height: 100%;
    }
    
    .head-panel {
        
        text-align: center;
        float: none;
    }
    
    .subtitle {
        
        text-align: center;
        float: none;
        margin-left: 0;
    }
    
    .info-panel {

        padding: 0;
        width: 100%;
        height: 50%;
        float: left;
        text-align: center;
        padding-right: 5%;
    }
    
    .large {
        
        font-size: 1.8em;
    }
    
    .large-1 {
        
        font-size: 3em;
    }
    
    .large-2 {
        
        font-size: 3em;
    }
    
    .welcome-info {
        
        width: 100%;
        margin: 0;
        padding: 0;
        text-align: center;
    }
    
    .picture {
        
        text-align: center;
        margin-bottom: 5%;
        width: 60%;
        padding-bottom: 40%;
        float: none; 
    }
    
    .title {
    
        margin-left: 0;
        font-family: 'Forum', cursive;
        opacity: 0;
    }
    
    .summary {
        
        width: 100%;
        margin-top: 5%;
        overflow-y: scroll;
    }
    
    .about-panel {
        
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
    }
    
    .info {
        
        width: 100%;
        margin: 0;
        padding: 0;
        margin-bottom: 20%;
    }
    
    .scrollable {
        
        overflow-y: scroll;
    }
    
    .mobile-header {
        
        display: block;
        color: orange;
        text-align: center;
    }
    
    .panel-button {
    
        max-width: 20%;
        height: 5%;
        float: left;
        border: 0;
        outline: none;
    }
    
    .mobile-menu {
        
        display: contents;
        margin: 0;
        padding: 0;
    }
    
    .mobile-p {
        
        font-size: 1.2em;
    }
    
    .left-column, .mid-column, .right-column {
        
        width: 100%;
    }
    
    .mobile-projects-text {
        
        margin-bottom: 15%;
    }
    
    .projects-box {
        
        width: 100%;
        height: 100%;
        margin-bottom: 10%;
    }
    
    .thumbnail-div {
        
        width: 100%;
    }
    
    .mobile-scroll {
        
        overflow-y: scroll;
    }
    
    .mobile-hide-image {
        
        background-image: none;
    }
    
    .project-name {
        
        background-color: rgba(255, 255, 255, 0.7);
        color: #000;
        font-weight: bolder;
    }
    
    .project-info {
        
        width: 100%;
    }
    
    .project-slider {
        
        margin-top: 2%;
        width: 100%;
    }
    
    .link-box {
        
        margin-top: 2%;
        width: 100%;
    }
    
} 

@media only screen and (max-width: 320px) {
    
    .mobile-p {
        
        font-size: 1em;
    }

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

} 
    
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) and (max-width: 768px) {
    
    .mobile-menu {
        
        display: none;
    }
    
    .about-panel {
    
        width: 83%;
        float: right;
    }
    
    .left-column, .mid-column, .right-column {
        
        width: 100%;
    }
    
} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}